# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info/

# Virtual environment
venv/
env/
.venv/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Output folder
output/

# Service account (credenciales)
service_account.json

# Environment variables
.env
